.terms-wrapper {
    margin-top: 3rem;
    display: flex;
    gap: 0.75rem;
    align-items: flex-start;

    strong {
        font-weight: 500;
        color: var(--text-highlight);
    }
}

.checkbox-wrapper {
    position: relative;

    input[type="checkbox"] {
        all: unset;
        position: absolute;
        inset: 0;
    }

    .checkbox-img {
        flex: 0 0 2.4rem;
        height: 2.4rem;
        background: url("../../assets/icons/checkbox-default.svg");
    }

    &:hover, &:focus-within {
        .checkbox-img {
            background: url("../../assets/icons/checkbox-hover.svg");
        }
    }

    &:has(:checked) {
        .checkbox-img {
            background: url("../../assets/icons/checkbox-checked.svg");
        }
    }
}