label + .radio-wrapper {
    margin-top: 1.6rem;
}

.radio-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1.2rem, 1fr));
    gap: 1.6rem;
}

.radio-inner {
    border: 1px solid var(--stroke-default);
    border-radius: 0.8rem;
    display: grid;
    justify-items: center;
    gap: 0.8rem;
    padding: 3.2rem 0.8rem 0.8rem;
    position: relative;

    input, input:focus, input:hover {
        all: unset;
        position: absolute;
        inset: 0
    }

    .radio-img {
        background: url("../../assets/icons/radio.svg") no-repeat;
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;
        top: 0.8rem;
        left: 0.8rem;
    }

    &:hover, &:focus-within {
        border: 1px solid var(--stroke-highlight);
        .radio-img {
            background: url("../../assets/icons/radio-focus.svg") no-repeat;
        }
    }

    &:has(:checked) {
        border: 2px solid var(--stroke-highlight);
        .radio-img {
            background: url("../../assets/icons/radio-checked.svg") no-repeat;
        }
    }
}