header.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: var(--text-md);
}

#profile {
    display: flex;
    padding-block: 32px;
    gap: 32px;
    align-items: center;

    & > div {
        max-width: 384px;

        h1 {
            font: var(--text-lg);
            color: var(--text-color-primary);
            margin-bottom: 8px;
        }
    }
}

#info {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 280px;

    li {
        display: flex;
        gap: 8px;
    }
}