* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 8px;
    height: 100vh;
    width: 100vw;
    background: #2F2E41;

    justify-content: space-between; /*Alinha no eixo x*/
    align-content: end; /*Alinha no eixo y*/
    place-content: start; /*Junção dos alinhamentos nos eixos x e y*/

    justify-items: end;
    align-items: start;
    place-items: center;
}

.grid > div {
    background: #42D3FF;
    border: 1px solid red;
}

.grid > div:nth-child(2) {
    justify-self: start;
    align-self: end;
    place-self: stretch;
}
