* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app {
    display: grid; /*inline-grid*/
    /*grid-template-columns: repeat(3, 1fr) /*1fr 1fr 1fr*/;
    /*grid-template-rows: repeat(3, 1fr);*/
    grid-template-areas: "header header header"
                         "main main aside"
                         "footer footer footer";

    gap: 10px;
    /*row-gap: 10px;
    column-gap: 10px;*/

    height: 100vh;
}

span {
    border: 1px solid blue;
}

.app > * {
    border: 1px solid red;
}

.app header {
    /*grid-column-start: 1;
    grid-column-end: 4;*/
    /*grid-row: 1/4;*/
    grid-area: header;
}

.app main {
    /*grid-column: 2/4;
    grid-row: 1/3;*/
    grid-area: main;
}

/*.app aside {
    grid-column: 2/3;
    grid-row: 3/4;
}*/

.app footer {
    grid-area: footer;
}
