* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;
    --gray-100: #0D0E11;
    --gray-200: #16181D;
    --gray-300: #292C34;
    --gray-400: #878EA1;
    --gray-500: #C0C4CE;
    --gray-600: #E2E4E9;

    --asap-font: "Asap", sans-serif;
    --inconsolata-font: "Inconsolata", sans-serif;
    --maven-font: "Maven Pro", sans-serif;

    --title-lg: bold 56px/120% var(--asap-font);
    --title-md: bold 24px/120% var(--asap-font);
    --title-sm: bold 16px/120% var(--asap-font);

    --subtitle: 100 20px/120% var(--inconsolata-font);

    --text-md: 400 16px/140% var(--maven-font);
    --text-sm: 400 14px/140% var(--maven-font);

}

body {
    font: var(--text-md);
    background-color: var(--gray-200);
    color: var(--gray-400);
}

a {
    text-decoration: none;
    color: var(--gray-500);
}

.container {
    max-width: 1366px;
    margin-inline: auto;
}