#header {
    background: url("../assets/img/bg_intro.png") no-repeat;
    background-size: cover;
    padding: 120px 0 60px;
    justify-items: center;
}

.intro {
    text-align: center;
    max-width: 50%;

    h1 {
        margin-bottom: 20px;
    }

    h2 {
        margin-bottom: 8px;
    }
}

.scroll {
    margin-top: 94px;
}

.skills {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 80px;
}

#projects {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-bottom: 144px;
}

.project-title {
    margin-top: 72px;
    margin-bottom: 56px;
    text-align: center;

}