.title-lg {
    font: var(--title-lg);
}

.title-md {
    font: var(--title-md);
}

.title-sm {
    font: var(--title-sm);
}

.subtitle {
    font: var(--subtitle);
}

.text-md {
    font: var(--text-md);
}

.text-sm {
    font: var(--text-sm);
}

.text-red {
    color: var(--red);
}

.text-purple {
    color: var(--purple);
}

.text-blue {
    color: var(--blue);
}

.text-green {
    color: var(--green);
}

.text-yellow {
    color: var(--yellow);
}

.text-white {
    color: var( --gray-600);
}

.grid {
    display: grid;
}