* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;

    --base-color-white: #fff;
    --base-color-gray-100: #f5f5f5;
    --base-color-gray-300: #8d8d99;
    --base-color-gray-900: #202024;

    font-family: 'Mulish', sans-serif;

}

body {
    font-size: 1.6rem;
    background: var(--base-color-white);
    color: var(--base-color-gray-900);
}

#app {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100vh;
}

.container {
    padding: 1.6rem 3.2rem;
    width: min(112rem, 100%);
    margin: 0 auto;
}


header, nav, nav ul {
    display: flex;
    align-items: center;
    gap: 7.2rem;
    font-weight: 700;
}

header form {
    flex: 1;
}

nav ul {
    list-style: none;
    color: var(--base-color-gray-300);
    font-size: 1.8rem;

    & > li.active {
        color: var(--base-color-gray-900);
    }
}

.avatar {
    width: 4.2rem;
    height: 4.2rem;
    object-fit: cover;
    border-radius: 50%;
}

main {
    background: var(--base-color-gray-100);
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

footer p {
    text-align: center;
    padding: 1.6rem;
    font-weight: 600;
}