body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(180deg, rgba(227,255,248,0), 82%, rgba(227,255,248,0.38));
    min-height: 100vh;
}

a {
    color: #1F1534;
    text-decoration: none;
}

h1 {
    font-family: 'Mulish', sans-serif;
    font-size: 49px;
    line-height: 56px;
    font-weight: normal;
    color: #1F1534;

    span {
        color: #89C5CC;
        font-weight: bold;
    }
}

p {
    font-size: 14px;
    line-height: 28px;
    color: #7D7987;
}

button {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
}

.page {
    width: 1000px;
    margin: 0 auto;
    padding-top: 65px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}

#navigation ul {
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 48px;

    li {
        a {
            opacity: 0.5;
            &:hover {
                font-weight: bolder;
                opacity: 1;
            }
        }
    }
}

main {
    display: flex;
    justify-content: space-between;
}

.text p {
    margin: 40px 0 40px;
}

.whats {
    color: #FFF;
    font-weight: bold;
    background: #69B99D;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 14px 32px 15px;
    cursor: pointer;

    &:hover {
        background: #467969;
    }
}

#footer {
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
}

.balls {
    position: fixed;
    bottom: 0;
    right: 0;
}